.nav-container {
    display: flex;
}

.nav_links-container {
    display: flex;
    flex-grow: 1;
}

/* ------------------------------------------*/
/* -------------- HEADER LOGO --------------*/
.nav-header_logo {
    display: flex;
    justify-content: center;
    z-index: 3;
    padding: 0 1rem;
}

.nav-header_logo-link {
    display: flex;
    justify-content: center;
}

.header_logo-img {
    height: 2rem;
    width: auto;
    align-self: center;
}

.header_logo-title {
    font-weight: bold;
    align-self: center;
    padding-left: 0.6rem;
}

/* ------------------------------------------*/
/* -------------- BURGER ICON --------------*/
.links-to-display {
    width: 100%;
    display: flex;
    z-index: 2;
}

.displayable_link,
#burger-icon-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0;
    height: 3rem;
}

.displayable_link {
    border-left: solid 0.5px var(--border-color2);
}

#burger-icon-container {
    display: none;
}

.burger-icon {
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    margin: 1rem;
}

.burger-icon span {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--main-font-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    transition: background-color 0.5s ease-in-out;
}

.burger-icon span::before,
.burger-icon span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: var(--main-font-color);
    border-radius: 0.4rem;
    transition: transform 0.5s ease-in-out;
}

.burger-icon span::before {
    transform: translateY(-0.6rem);
}

.burger-icon span::after {
    transform: translateY(0.6rem);
}

.burger-icon.active-burger span {
    background-color: transparent;
}

.burger-icon.active-burger span::before {
    width: 2rem;
    /* transform: translateY(0) rotateZ(45deg); */
    /* transform: translateY(0) rotateZ(135deg); */
    /* transform: translateY(0) rotateZ(315deg); */
    transform: translateX(23%) rotateZ(60deg);
}

.burger-icon.active-burger span::after {
    width: 2rem;
    /* transform: translateY(0) rotateZ(-45deg); */
    /* transform: translateY(0) rotateZ(-135deg); */
    /* transform: translateY(0) rotateZ(-315deg); */
    transform: translateX(-23%) rotateZ(-60deg);
}

/* -----------------------------------------------*/
/* -------------- BURGER CONTAINER --------------*/
@media screen and (max-width: 575px) {
    main {
        margin-top: 3rem;
    }
    .nav-container {
        position: relative;
        flex-direction: column;
    }

    .nav-header_logo {
        position: absolute;
        height: 3rem;
        justify-content: flex-start;
        padding-left: 0.6rem;
        box-sizing: border-box;
    }

    .links-to-display {
        position: relative;
    }

    .nav_links-container {
        position: absolute;
        flex-direction: column;
        width: 100%;
        transform: translateY(calc(-100% + 3rem));
        transition: all 0.3s ease-in-out;
        background-color: var(--main-bg-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        margin: auto;
    }

    .displayable_link {
        background-color: rgba(0, 0, 0, 0.1);
        width: 90%;
        margin: auto;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        border-left: none;
        border-bottom: solid 2px var(--border-color2);
        border-radius: 0.8rem;
    }

    .displayable_link:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    #burger-icon-container {
        display: flex;
        visibility: visible;
        opacity: 1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        margin-top: 0.4rem;
    }
}

.nav_links-container.active-burger-links {
    opacity: 1;
    transform: translateY(0);
    margin-top: 3rem;
    background-color: var(--main-bg-color);
    border-bottom: solid 2px var(--border-color2);
}

.nav_links-container.active-burger-links .displayable_link {
    opacity: 1;
}

.nav-header_logo.active-header-logo {
    background-color: var(--main-bg-color);
    width: 100%;
    border-bottom: solid 2px var(--border-color2);
}
@media screen and (min-width: 575px) {
    .nav_links-container {
        transition: none;
        background-color: var(--main-bg-color);
    }
}