.messaging-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 28rem;
    width: 20rem;
    max-width: calc(100% - 2rem);
    background-color: var(--border-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: var(--main-font-color);
    display: none;
    flex-direction: column;
    border-radius: 0.6rem;
    padding: 0.4rem;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    z-index: 98;
}

.messaging-header {
    display: flex;
    align-items: center;
    padding-bottom: 0.4rem;
}

.messaging-header h3 {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
}

.messaging-close_button {
    height: 1.6rem;
    width: 1.6rem;
    border: solid 3px var(--main-font-color);
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messages_list {
    border-radius: 0.6rem;
    display: flex;
    flex-grow: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    background-image: url(../img/background_paper.jpg);
    background-size: cover;
}

#message_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    margin-top: 0.4rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    background-image: url(../img/background_paper.jpg);
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
}

#message_input {
    display: flex;
    flex-grow: 1;
    border-radius: 0.6rem;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
}

.display_messenger-button,
#message_form button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    border: solid 3px var(--main-font-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.display_messenger-button {
    position: fixed;
    bottom: 2.1rem;
    right: 1.7rem;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    border-color: solid 3px var(--main-font-color);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    z-index: 99;
}


#message_input:focus {
    outline: none !important;
}

.messaging-container-active {
    opacity: 0;
    height: 2rem;
    width: 2rem;
}

.display_messenger-button-active {
    opacity: 0;
}