.score-list li {
    margin: 0.2rem 0;
}

/* LIST HEADER SECTION */
.score-header {
    display: flex;
    align-items: center;
    text-align: center;
}


/* PLAYER SECTION */
.player-row {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.player-score {
    font-size: 1.8rem;
}

.points-actions {
    display: flex;
}

.points-add,
.points-remove,
.player-remove-button {
    position: relative;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: solid 2px black;
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
}

.points-add h2,
.points-remove h2,
.player-remove-button h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.points-add:active,
.points-remove:active,
.player-remove-button:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.player-row hr {
    margin: 0;
    padding: 0;
}


/* ADD SECTION */
.player-add-container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    color: rgb(150, 0, 0);
    border-radius: 200%;
    transition: all 1s ease-in-out;
}

.player-add-container div {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: transparent;
    border: solid 3px rgb(150, 0, 0);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 0 2px rgba(0, 0, 0, 0.8) inset;
    font-size: 2.8rem;
    padding: 0;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.player-add-container:active {
    text-shadow: 0 0 500px rgba(0, 0, 0, 1);
    color: var(--main-bg-color);
    font-size: 1.6rem;
    cursor: pointer;
}

.player-add-container:active div {
    border: solid 3px var(--main-bg-color);
    box-shadow: 0 0 100px var(--main-bg-color), 0 0 10px rgba(0, 0, 0, 0.3) inset;
}

.player-add-container span {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    transition: all 1s ease-in-out;
}

.player-add-container span:active {
    font-size: 1.6rem;
}


/* NEW PLAYER FORM */
.new_player-form {
    display: none;
}

.new_player-form-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
}

.new_player-form label {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 2rem 0;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new_player-form-inputs {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 90%;
    height: 4rem;
    border-radius: 1rem;
}

.submit-player_name {
    margin-top: 1rem;
    padding: 1rem 2rem;
    color: var(--main-font-color);
    font-size: 1.7rem;
    font-weight: bold;
    background-color: var(--main-bg-color);
    border: solid 2px var(--main-font-color);
    border-radius: 1rem;
}

#endgame_message-container {
    display: none;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background_paper.jpg);
    background-size: cover;
    border: solid 3px var(--main-font-color);
    border-radius: 2rem;
    font-size: 3rem;
    text-shadow: 0 0 4px black;
    box-shadow: inset 0 0 10px black;
    padding: 3rem 1rem;
    opacity: 0;
    transition: all 1s ease-in-out;
}

@media screen and (max-width: 575px) {

    .player-name {
        font-size: 1.2rem;
    }

    .player-score {
        font-size: 1.2rem;
    }

    .points-add,
    .points-remove,
    .player-remove-button {
        height: 1.2rem;
        width: 1.2rem;
        min-width: 1.2rem;
    }

    .points-add h2,
    .points-remove h2,
    .player-remove-button h2 {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .player-add-container span {
        font-size: 1.2rem;
    }

    .player-add-container div {
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
    }

    .player-add-container:active {
        font-size: 1.6rem;
    }
    #endgame_message-container {
        font-size: 1.6rem;
        padding: 1rem 0.5rem;
        width: 90%;
    }
}