:root {
    --main-bg-color: rgb(78, 23, 23);
    --main-font-color: rgba(255, 215, 82, 0.781);
    --border-color: rgb(73, 62, 56);
    --border-color2: rgba(201, 170, 67, 0.582);
    --text-shadow-color: 0px 0px 9px rgba(0, 0, 0, 0.733);
    --header-height: 115px;
    --footer-height: 48px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--main-bg-color);
    font-family: 'MedievalSharp', cursive;
    text-shadow: var(--text-shadow);
    /* justify-content: space-between; */
    padding: 0;
    margin: 0;
    min-width: 300px;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.game_container {
    background-color: rgb(70, 37, 37);
    border: solid 2px var(--border-color2);
    box-shadow: var(--text-shadow-color);
    padding: 0;
    position: relative;
    color: var(--main-font-color);
    margin-bottom: 2rem;
}

/*----------BOARD-----------*/
#board {
    display: flex;
    padding: 20px 0;
    position: relative;
}

.article {
    background-image: url(../img/background_paper.jpg);
    background-size: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397), 0px 0px 15px rgba(0, 0, 0, 0.603) inset;
    border-top: solid 1rem rgb(90, 74, 66);
    border-bottom: solid 1rem rgb(90, 74, 66);
    border-left: solid 2px rgb(90, 74, 66);
    border-right: solid 2px rgb(90, 74, 66);
    padding: 1rem 1rem;
    margin: 0.5rem auto;
    color: rgba(0, 0, 0, 0.781);
    min-height: calc(100% - var(--header-height) - var(--footer-height) - 1rem);
    flex-grow: 1;
}

.article h1 {
    color: rgba(0, 0, 0, 0.781)
}

section {
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
    text-shadow: var(--text-shadow);
    font-size: 1.4rem;
}

a:hover,
.name_link:hover {
    color: rgb(187, 187, 187);
    font-weight: bolder;
}

.name_link {
    text-decoration: none;
    color: black;
    text-shadow: var(--text-shadow);
    font-size: 1.4rem;
}

h1 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
    color: var(--main-font-color);
    justify-content: center;
}

h2 {
    font-size: 1.6em;
    padding: 0.5rem 0;
    font-weight: bolder;
}

h3 {
    font-size: 1.4rem;
}

/*----------FOOTER-----------*/
.footer {
    min-height: var(--footer-height);
    margin: 0;
}

#view_score_button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
    right: 1em;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.397);
}

.scoretable_container {
    display: flex;
    position: absolute;
    right: 0;
}

.scoretable {
    display: flex;
    flex-direction: column;
    width: 30vw;
    font-weight: 900;
    background-color: var(--main-bg-color);
    border: solid 2px var(--border-color2);
    align-items: center;
    padding: 5px;
    position: relative;
    right: -2px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.397);
}

.scored {
    height: 10vh;
    font-weight: normal;
    padding: 0 10px;
    margin: 0;
    overflow: auto;
}

.scoretable li {
    font-size: 0.9rem;
    font-weight: normal;
}

ul p,
li {
    text-align: center;
}

ul .titles {
    font-weight: bolder;
    text-align: center;
}

/*----------DICES-----------*/
.dices_table {
    height: 58vh;
    max-height: 58vh;
    width: 60vw;
    background-image: url(../img/background_wood.jpg);
    background-size: contain;
    box-shadow: 0px 0px 15px black, inset 0px 0px 10px black;
    border: solid 6px rgba(71, 60, 54, 0.9);
    border-radius: 10vw;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 575px) {
    .dices_table {
        width: 95vw;
    }
}
@media screen and (min-width: 575px) {
    #launcher:hover,
    #launch_sirop:hover {
        font-size: 1.2em;
        font-weight: normal;
        color: lightgreen;
        border: solid 2px lightgreen;
        background-color: rgb(121, 204, 121);
    }
}

.dice_container {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.display_none {
    display: none;
}

/*-------CURRENT ACTION------*/
.ia_log {
    position: absolute;
    top: 4px;
    left: 4px;
    border: solid 2px var(--border-color2);
    background-color: rgba(78, 23, 23, 0.7);
    padding: 0.5rem;
    text-shadow: var(--text-shadow-color);
}

/*-------SCORE----------*/
.score_container {
    text-align: center;
    padding: 5px;
    margin: 0;
}

.score_style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 5px 10px;
}

#score_cell {
    display: block;
    width: 5.6rem;
    text-align: center;
    color: var(--main-font-color);
    box-shadow: inset 0px 0px 10px black;
    border: solid 2px rgb(90, 74, 66);
    margin-left: 0.4rem;
}

/*----------BUTTONS :-----------*/
#launcher,
#view_score_button,
#launch_sirop,
#submit_score_btn,
.button_add_score,
#ia_hide_button {
    font-size: 1.2em;
    font-weight: bolder;
    border: solid 2px var(--border-color2);
    text-align: center;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    box-shadow: inset 0px 0px 10px black;
    padding: 0.5rem 1rem;
    text-shadow: var(--text-shadow);
    outline: none;
    /* box-shadow: none; */
}

#launcher:active,
#view_score_button:hover,
#launch_sirop:active,
.button_add_score:hover {
    font-size: 1.2em;
    font-weight: normal;
    color: lightgreen;
    border: solid 2px lightgreen;
    background-color: rgb(121, 204, 121);
}

.current_action {
    padding: 0 0.4rem;
}

.button_container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#launch_sirop {
    display: none;
}

#ia_hide_button {
    position: absolute;
    width: 100%;
    visibility: hidden;
}

/*-------- GAMBLE ---------------*/
.gamble_dice {
    font-size: 2rem;
}

/*------------- ENDGAME -------------*/
.endgame {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    box-shadow: 0px 0px 20px black;
    border: solid 2px var(--border-color2);
    background-color: var(--main-bg-color);
    /*-------- TEXT -----------*/
    text-shadow: 0px 0px 10px black;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    /*-------- BACKGROUND IMG -----------*/
    max-height: 100%;
    width: 100%;
    background-image: url(../img/perceval_img_01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 35% bottom 45%;
    display: flex;
    justify-content: center;
    z-index: 200;
}

.new_game-link {
    background-color: var(--main-bg-color);
    border: solid 2px var(--border-color2);
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}

.endgame-content {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.endgame p {
    margin-top: 1rem;
    margin: 0 1rem;
}

#score_list {
    width: 100%;
    overflow: auto;
    padding: 0;
}

.endgame>h2 {
    font-size: 3rem;
    text-shadow: 0px 0px 10px black;
}

.hidden_score,
.hidden_round_nb,
.hidden_fig_stats,
.hidden_sirop_stats {
    position: absolute;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.display_none {
    display: none;
}

.display_flex {
    display: flex;
}

.player_name-input {
    width: 90%;
    margin: auto;
}

.endgame form {
    margin-top: 1rem;
}

#submit_score_btn {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

/*--------- STATS PAGE -----------*/
li span {
    font-weight: bolder;
}

@media screen and (max-width: 575px) {
    .endgame h2 {
        font-size: 2.2rem;
    }

    .endgame p,
    .endgame form {
        font-size: 1.6rem;
    }

    .burger_links {
        display: none;
    }

    .header_logo-container {
        position: absolute;
        padding-top: 0.4rem;
    }

    .header-title {
        display: none;
        background-color: green;
    }

    .burger-container {
        min-height: 9vh;
        display: flex;
        align-items: center;
    }

    header {
        min-height: 9vh;
        padding-top: 0.4rem;
    }

    .ia_log {
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }

    .header_logo-burger {
        display: flex;
    }

    /* .header_logo-link img {
        display: none;
    } */
    p {
        margin: 0;
    }
}