:root {
    --main-bg-color: rgb(78, 23, 23);
    --main-font-color : rgba(255, 215, 82, 0.781);
    --border-color : rgb(73, 62, 56);
    --border-color2: rgba(201, 170, 67, 0.582);
    --text-shadow-color: 0px 0px 9px rgba(0, 0, 0, 0.733);
    --header-height: 115px;
    --footer-height: 48px;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--main-bg-color);
    font-family: 'MedievalSharp', cursive;
    text-shadow: var(--text-shadow);
    /* justify-content: space-between; */
    padding: 0;
    margin: 0;
    min-width: 300px;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}
/*----------HEADER-----------*/
.header, .footer {
    padding-top: 10px;
    background-color: var(--main-bg-color);
    border: solid 2px var(--border-color2);
    box-shadow: var(--text-shadow-color);
    text-align: center;
}
/* .footer {
    position: relative;
    bottom: 0;
} */
header {
    min-height: 13vh;
}
.header_logo-link {
    display:flex;
    justify-content: center;
    text-align: center;
}
.header-title {
    display: flex;
    width: 100%;
    /* background-color: #f0f; */
    margin-bottom: 0;
    padding-bottom: 0;
}
header ul {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}
.header_link {
    border-bottom: solid 2px var(--border-color2);
}
.header_logo-link h1 {
    height: 100%;
    display: flex;
    align-self: center;
}
.logo {
    max-height: 50px;
}
.header_logo-container {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
}
.header_logo-container h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.header_logo-container img {
    display: flex;
    align-items: center;
    position: relative;
}
.header_nav-container {
    height: 100%;
}
.nav-links-container {
    height: 100%;
    overflow: auto;
    transition-duration: 300ms;
    box-shadow: none;
}
.burger_links {
    display: flex;
}
.burger-icon {
    color: var(--main-font-color);
    text-shadow: var(--text-shadow);
    font-size: 1.4rem;
    width: 100%;
}
.burger-container {
    display: none;
    cursor: pointer;
}
.burger-container-button {
    align-items: center;
    margin: auto;
    background-color: transparent;
    border: none;
}
.burger-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 575px) {
    .burger_links {
        display: none;
    }
    .header_logo-container {
        position: absolute;
        padding-top: 0.4rem;
    }
    .header-title {
        display: none;
        background-color: green;
    }
    .burger-container {
        margin-top: 1rem;
        display: flex;
    }
    header {
        min-height: 9vh;
        padding-top: 0.4rem;
    }
    .ia_log{
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }
    .header_logo-link img {
        display: none;
    }
}
.game_container {
    background-color: rgb(70, 37, 37);
    border: solid 2px var(--border-color2);
    box-shadow: var(--text-shadow-color);
    padding: 0;
    position: relative;
    color : var(--main-font-color);
    margin-bottom: 2rem;
    /* height: 80vh; */
}
.article {
    background-image: url(../img/background_paper.jpg);
    background-size: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397), 0px 0px 15px rgba(0, 0, 0, 0.603) inset;
    border-top: solid 1rem rgb(90, 74, 66) ;
    border-bottom: solid 1rem rgb(90, 74, 66) ;
    border-left: solid 2px rgb(90, 74, 66) ;
    border-right: solid 2px rgb(90, 74, 66) ;
    padding: 1rem 1rem;
    margin: 0.5rem auto;
    color:rgba(0, 0, 0, 0.781);
    min-height: calc(100% - var(--header-height) - var(--footer-height) - 1rem);
    flex-grow: 1;
}
.article h1 {
    color:rgba(0, 0, 0, 0.781)
}
section {
    padding-bottom: 1rem;
}
a {
    text-decoration: none;
    color : var(--main-font-color);
    text-shadow: var(--text-shadow);
    font-size: 1.4rem;
}
a:hover, .name_link:hover {
    color: rgb(187, 187, 187);
    font-weight: bolder;
}
.name_link {
    text-decoration: none;
    color : black;
    text-shadow: var(--text-shadow);
    font-size: 1.4rem;
}
h1 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
    color : var(--main-font-color);
    justify-content: center;
}
h2 {
    font-size: 1.6em;
    padding: 0.5rem 0;
    font-weight: bolder;
}
h3 {
    font-size: 1.4rem;
}
/*----------FOOTER-----------*/
.footer {
    min-height: var(--footer-height);
    margin: 0;
}
/*----------BOARD-----------*/
#board {
    display: flex;
    padding: 20px 0;
    position: relative;
}
#view_score_button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
    right: 1em;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.397);
}
.scoretable_container {
    display: flex;
    position: absolute;
    right: 0;
}
.scoretable {
    display: flex;
    flex-direction: column;
    width: 30vw;
    font-weight: 900;
    background-color: var(--main-bg-color);
    border: solid 2px var(--border-color2);
    align-items: center;
    padding: 5px;
    position: relative;
    right: -2px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.397);
}
.scored {
    height: 10vh;
    font-weight: normal;
    padding: 0 10px;
    margin: 0;
    overflow: auto;
}
.scoretable li {
    font-size: 0.9rem;
    font-weight: normal;
}
ul p, li {
    text-align: center;
}
ul .titles {
    font-weight: bolder;
    text-align: center;
}
/*----------DICES-----------*/
.dices_table {
    height: 58vh;
    max-height: 58vh;
    width: 60vw;
    background-image: url(../img/background_wood.jpg);
    background-size: contain;
    box-shadow: 0px 0px 15px black, inset 0px 0px 10px black;
    border: solid 6px rgba(71, 60, 54, 0.9);
    border-radius: 10vw;
    position: relative;
    margin: 0 auto;
}
@media screen and (max-width: 575px) {
    .dices_table {
        width: 95vw;
    }
}
.dice_container {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.display_none {
    display: none;
}
/*-------CURRENT ACTION------*/
.ia_log {
    position: absolute;
    top: 1%;
    left: 1%;
    border: solid 2px var(--border-color2);
    background-color: rgba(78, 23, 23, 0.7);
    padding: 0.5rem;
    text-shadow: var(--text-shadow-color);
}
/*-------SCORE----------*/
.score_container {
    text-align: center;
    padding: 5px;
}
.score_style {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 5px 10px;
}
#score_cell {
    display: block;
    width: 5.6rem;
    text-align: center;
    color : var(--main-font-color);
    box-shadow: inset 0px 0px 10px black;
    border: solid 2px rgb(90, 74, 66);
    margin-left: 0.4rem;
}
/*----------BUTTONS :-----------*/
#launcher, #view_score_button, #launch_sirop, #submit_score_btn, .button_add_score, #ia_hide_button {
    font-size: 1.2em;
    font-weight: bolder;
    border: solid 2px var(--border-color2);
    text-align: center;
    background-color: var(--main-bg-color);
    color : var(--main-font-color);
    box-shadow: inset 0px 0px 10px black;
    padding: 0.5rem 1rem;
    text-shadow: var(--text-shadow);
}
#launcher:hover, #view_score_button:hover, #launch_sirop:hover, .button_add_score:hover {
    font-size: 1.2em;
    font-weight: normal;
    color: lightgreen;
    border: solid 2px lightgreen;
    background-color: rgb(121, 204, 121);
}
.button_container {
    position: relative;
    display: flex;
    justify-content: center;
}
#launch_sirop{
    display: none;
}
#ia_hide_button {
    position: absolute;
    width: 100%;
    visibility: hidden;
}
/*-------- GAMBLE ---------------*/
.gamble_dice {
    font-size: 2rem;
}
/*------------- ENDGAME -------------*/
.endgame {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    box-shadow: 0px 0px 20px black;
    border: solid 2px var(--border-color2);
    background-color: var(--main-bg-color);
    padding: 5px 5px;
    /*-------- TEXT -----------*/
    color: #f0f;
    text-shadow: var(--text-shadow);
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    /*-------- BACKGROUND IMG -----------*/
    max-height: 100%;
    width: 100%;
    background-image: url(../img/perceval_img_01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 35% bottom 45%;
    align-items: bottom;
    padding: 20%;
}
/* .fixed {
    position: fixed;
} */
.endgame>h2 {
    font-size: 3rem;
    color: #f0f;
}
.hidden_score, .hidden_round_nb , .hidden_fig_stats, .hidden_sirop_stats {
    position: absolute;
    visibility: hidden;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.display_none {
    display: none;
}
.display_flex {
    display: flex;
}
/*--------- STATS PAGE -----------*/
li span {
    font-weight: bolder;
}