<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cul de Chouette</title>
    <link rel="icon" type="" href="assets/img/dice_icon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/scores-sheet.css">
    <link rel="stylesheet" href="assets/css/dices-style.css">
    <link rel="stylesheet" href="assets/css/messenger.css">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    







    <div class="messaging-container messaging-container-active">
        <div class="messaging-header">
            <h3>MESSAGERIE</h3>
            <span class="messaging-close_button">x</span>
        </div>
        <ul id="messages_list">
        </ul>
        <form id="message_form" action="">
            <textarea name="message_input" id="message_input" rows="auto"></textarea>
            <button>
                <i class="fas fa-paper-plane"></i>
            </button>
        </form>
    </div>
    <div class="display_messenger-button">
        <i class="fas fa-comment"></i>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script>
        let socket = io();

        let messages = document.getElementById('messages_list');
        let form = document.getElementById('message_form');
        let input = document.getElementById('message_input');

        form.addEventListener('submit', function (evt) {
            evt.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });

        socket.on('chat message', function (msg) {
            let item = document.createElement('li');
            item.textContent = msg;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });
    </script> -->
    <!-- <script src="./node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="./js/components/messenger.js"></script> -->
    
    <script src="assets/js/iaPlayer1.js"></script>
    <script src="assets/js/styleJs.js"></script>
    <script src="assets/js/dices.js"></script>
    <script src="assets/js/figures.js"></script>
    <script src="assets/js/scores.js"></script>
    <script src="assets/js/rules.js"></script>
    <script src="assets/js/gamble.js"></script>
    <script src="assets/js/components/burger.js"></script>
    <script src="assets/js/components/scoresSheet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/components/messenger.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
</body>
</html>